<!-- main.hbs-->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Worth A Shot</title>
</head>
<header>
    <h1>Group 80: Worth a Shot Database</h1>
</header>
<body>

    {{{body}}}

</body>
<footer>
    <p>&copy; 2024 Elsa Luthi & Nicole Boose; Group 80; Worth a Shot</p>
</footer>
</html>
