<!-- index.hbs -->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<!-- Page Title -->
<div>
        <h2>Cheers!</h2>
        <article>
            <p>
                The Alcohol and Tobacco Tax and Trade Bureau (TTB) requires businesses that sell alcoholic beverages to register as a “retail liquor dealer”. In order to keep track of purchases for the TTB, retail liquor dealers need to make sure all of their liquor orders are in one location and able to be accessed when requested to ensure their license to sell alcohol is not revoked. Records should include the type of alcohol received, the date it was purchased, the distributor it was purchased from, and the amount that was received. 
            </p>
            <p>
                For this DB we will be focusing on keeping track of the purchases that retail liquor dealers make from wholesale liquor dealers. Small bars spend around $2,500 to $6,000 per month on alcohol from a distributor, and that is about 70%-80% of what the alcohol will be sold for. One distributor can sell several different types of alcohol to the retail liquor dealer e.g. Hal’s wholesale liquor can sell 750-ml bottles of Jack Daniels, Bombay Sapphire Gin, and Smirnoff vodka, but Jack Daniels could be sold by several wholesalers like Hal’s wholesale, Black Elephant liquors, and Michael’s Wholesale Club. Creating one place to go look for this information makes life easier for bar owners when they are managing their books, or showing records to the TTB directly. Many small businesses are still keeping these records in a filing cabinet, or recording this information by hand. This is a lot of work when bars gross on average $330k a year. Switching to digital records to keep track of their sales and purchases allows for small business owners to spend their precious time elsewhere. 
            </p>
            <p>
                In order to keep up with their TTB license, any retail liquor dealer has to make sure that they are keeping track of any customer that sells 20 wine gallons (75.7 liters) or more. The types of businesses we are creating this DB for will not be selling in bulk, so there is no need to keep track of our customers (besides making sure that they are over the age of 21). In the future this DB could be expanded upon to keep track of sales.
            </p>
        </article>
</div>

<script src="/js/delete_alcohol.js"></script>
