<!-- index.hbs -->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<!-- Page Title -->
<div>
        <h2>Cheers</h2>
        <article>
            This is our website!
        </article>
</div>

<script src="/js/delete_alcohol.js"></script>
